:root{
  --primary-color:#333333;
  --secondary-color: #000000;
  --third-color:#CCCCCC; 
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --font-family-heading:"Roboto";
  --font-family-text:"Lato";
}

body{
  font-family:var(--font-family-text), Arial, Helvetica, sans-serif;
  color: var(--main-bg-color);
  font-size: 1.5rem;
}

p, strong, span {
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1, h2 {
  font-family:var(--font-family-heading) ,Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

h1{
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  padding: 20px;
  border: 5px solid var(--third-color);
  border-radius: 10px 10px 0 0;
}

.hero {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; 
}

.hero img {
  width: 100%;
  height: auto; /* Ensures the image maintains its aspect ratio */
  border-radius: 5px;
  border: 5px solid var(--third-color);
}

source{
  display: none;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.data, .weather{
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data-info, #weather-info{
  border: 2px solid var(--primary-color);
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 10px;
  color: #000000;
}

.data p, .weather p{
  margin: 0;
  text-align:center;
}

footer{
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: 5px solid var(--third-color);
  border-radius: 0 0 10px 10px;
  background-color: var(--primary-color);
}
